.a1 /*main comment box */
{
position:relative;
top:-10px;
word-wrap: break-word;
display:block;
border-style:solid;
border-width:2px;
border-color:gray;
width:400px;
word-wrap: break-word;
border-radius:5px;
}

.a1nnn /*main comment box */
{
position:relative;
top:0px;
word-wrap: break-word;
display:block;
border-style:solid;
border-width:2px;
border-color:gray;
width:400px;
word-wrap: break-word;
border-radius:5px;
}

.aa1 
{
position:relative;
top:0px;
word-wrap: break-word;
display:block;
border-style:solid;
border-width:1px;
border-color:lightgray;
width:400px;
word-wrap: break-word;

}
.navi1
{
background-image:url("navigation-bar.png");

height:60px;
}
.navisub1 /* odd number is used for the heading purpose */
{
background-color:red;
background-size:20px 20px;
background-repeat:no-repeat;
position:absolute;
left:15px;
border-width:1px;
text-decoration:none;
border-style:solid;
border-color:yellow;
width:100px;
height:58px;
}
.navisub2 /* even number is used for the purpose of sun heading in the navigation bar */
{
display:none;
}

.navisub1:hover+.navisub2
{
display:block;
position:absolute;
top:80px;
left:15px;
}
.navisub2:hover /*should not vanish once the mouse moves out from main menu to the drop-down list */
{
display:block;
position:absolute;
top:80px;
left:15px;
}

.navisub3
{
text-decoration:none;
}
.navisub4
{
color:white;
}
.navisub5
{
font-size:22px;
position:absolute;
top:15px;
color:white;
}
.navisub6
{
background-color:blue;
background-size:20px 20px;
background-repeat:no-repeat;
position:absolute;
left:145px;
border-width:1px;
text-decoration:none;
border-style:solid;
border-color:yellow;
width:100px;
height:58px;
}
.navisub7
{
font-size:22px;
color:white;
position:absolute;
top:15px;
}
.navisub8
{
display:none;
}

.navisub6:hover+.navisub8
{
display:block;
position:absolute;
top:80px;
left:145px;
}
.navisub8:hover
{
display:block;
position:absolute;
top:80px;
left:145px;
}

.navisub9
{
background-color:green;
background-size:20px 20px;
background-repeat:no-repeat;
position:absolute;
left:275px;
border-width:1px;
text-decoration:none;
border-style:solid;
border-color:yellow;
width:100px;
height:58px;
}
.navisub10
{
font-size:22px;
position:absolute;
top:15px;
color:white;
}
.navisub11
{
display:none;
}
.navisub9:hover+.navisub11
{
display:block;
position:absolute;
left:275px;
top:80px;
}
.navisub11:hover
{
display:block;
position:absolute;
left:275px;
top:80px;
}

.navisub12
{
background-color:gray;
background-size:20px 20px;
background-repeat:no-repeat;
position:absolute;
left:405px;
border-width:1px;
text-decoration:none;
border-style:solid;
border-color:yellow;
width:100px;
height:58px;
}

.navisub13
{
font-size:22px;
position:absolute;
top:0px;
color:white;
}

.navisub14
{
display:none;
}

.navisub12:hover+.navisub14
{
display:block;
position:absolute;
left:405px;
top:85px;
}
.navisub14:hover
{
display:block;
position:absolute;
left:405px;
top:85px;
}

.navisub15
{
background-color: 	#C0C0C0;
background-size:20px 20px;
background-repeat:no-repeat;
position:absolute;
left:535px;
border-width:1px;
text-decoration:none;
border-style:solid;
border-color:yellow;
width:100px;
height:58px;
}
.navisub16
{
font-size:22px;
position:absolute;
top:0px;
color:white;
}
.navisub17
{
display:none;
}
.navisub15:hover+.navisub17
{
display:block;
position:absolute;
left:535px;
top:85px;
}
.navisub17:hover
{
display:block;
position:absolute;
left:535px;
top:85px;
}
.navisub18
{
background-color:orange;
background-size:20px 20px;
background-repeat:no-repeat;
position:absolute;
left:665px;
border-width:1px;
text-decoration:none;
border-style:solid;
border-color:yellow;
width:100px;
height:58px;
}
.navisub19
{
font-size:22px;
position:absolute;
top:0px;
color:white;
}
.navisub20
{
display:none;
}
.navisub18:hover+.navisub20
{
display:block;
position:absolute;
left:665px;
top:85px;
}
.navisub20:hover
{
display:block;
position:absolute;
left:665px;
top:85px;
}


.a1:after
{
display:block;
background-color:red;
height:20px;
}
.navili1  /* for the menu list's items border */
{
color:white;
border-style:solid;
border-color:yellow;
border-width:1px;
text-decoration:none;
width:100px;
background-color:red;

}

.navili1:hover  /* for the menu list's items border */
{
color:white;
border-style:solid;
border-color:yellow;
border-width:1px;
text-decoration:none;
width:100px;
background-color:indigo;

}

.a1:hover
{
display:block;
border-style:solid;
border-width:2px;
border-color:green;
background-color:lightgray;

}
.a2 /* for options button */
{
width:10px;
height:10px;
display:block;
position:relative;
top:-30px;
left:390px;
}
.a3
{
display:none;
position:absolute;
top:0px;
transition: left 2s;
-webkit-transition:left 2s; /* Safari */
}
.a2:hover+.a3
{
opacity:0.5;
display:block;
position:relative;
left:390px;
top:0px;
}
.a3:hover
{
opacity:0.5;
display:block;
position:relative;
left:400px;
top:40px;
width:100px;

}

.comlidiv /*for div of comment like dislike */
{
display:block;
position:absolute;
top:0px;
background-color:red;
}


.maintri1   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;
text-decoration:none;
}
.maintri2
{
display:none;
}

.maintri1:hover+.maintri2  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:115px;
position:relative;
top:-30px;


background-color:indigo;
left:0px;
}
.maintri1:hover+.maintri2:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}

.maintri3   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;

text-decoration:none;
}
.maintri4
{
display:none;
}

.maintri3:hover+.maintri4  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:117px;
position:relative;
top:-30px;
background-color:indigo;
left:0px;
}
.maintri3:hover+.maintri4:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}

.maintri5   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;
text-decoration:none;

}
.maintri6
{
display:none;
}

.maintri5:hover+.maintri6  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:95px;
position:relative;
top:-30px;
background-color:indigo;
left:1px;
}
.maintri5:hover+.maintri6:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}



.maintri7   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;
text-decoration:none;
}
.maintri8
{
display:none;
}

.maintri7:hover+.maintri8 /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:105px;
position:relative;
top:-30px;
background-color:indigo;
left:1px;
}
.maintri7:hover+.maintri8:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}

.tri1   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;
width:50px;
display:block;
position:absolute;

left:180px;
text-decoration:none;

}
.tri2
{
display:none;

}

.tri1:hover+.tri2  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:100px;
position:absolute;
top:23px;


background-color:indigo;
left:140px;
}
.tri1:hover+.tri2:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:40px;
}

.tri3
{
font-size:11px;
display:block;
position:absolute;
width:57px;

left:80px;
text-decoration:none;

}
.tri4
{
display:none
}
.tri3:hover+.tri4   	/*show label for dislike button hover */
{
color:white;
display:block;
font-size:11px;
width:115px;
position:absolute;
top:40px;

height:13px;
display:block;
background-color:indigo;
left:60px;
}
.tri3:hover+.tri4:after
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:5px;
	left:50px;
}

.tri5
{
font-size:11px;
display:block;
position:absolute;
width:50px;

left:5px;
text-decoration: none;
}
.tri6
{
display:none
}
.tri5:hover+.tri6	/*show label for reply button hover */
{
color:white;
display:block;
font-size:11px;
width:95px;
height:13px;
position:absolute;
top:30px;


display:block;
background-color:indigo;
left:10px;
}
.tri5:hover+.tri6:after
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:12px;
	left:0px;
}


.img2
{
width:400px;
height:400px;
}

.img2:hover
{
width:400px;
height:400px;box-shadow: 0 0 50px gray;
}

.div2
{
position:relative;
top:-20px;
border-style:solid;
border-width:1px;
border-color:white;
width:400px;
}
.tt1
{
display:none;
color:black;
font-size:12px;
}
.txt1
{
position:relative;
top:-10px;
text-decoration:none;
font-size:11px;
}
.txt2
{
position:relative;
top:-10px;
display:none;
text-decoration:none;font-size:11px;
}
.in1
{
width:0px;
height:0px;
border-style:solid;
border-color:white;

}
.ftr
{
display:block;
}
.reptxt1
{
border-style:solid;
border-style:solid;
border-color:red;
position:absolute;
left:10px;
}
.txtarea1
{
border-style:solid;border-color:blue;
width:404px;
height:25px;
resize:none;
}
.txtarea1nnn
{
position:relative;
top:-50px;
border-style:solid;border-color:blue;
width:404px;
height:25px;
resize:none;
}
.maindiv1
{
position:relative;
left:0px;
border-style:solid;
border-width:0px;
border-color:gray;
width:403px
}
.mainsubdiv1
{
position:relative;
left:00px;
border-style:solid;
border-width:1px;
border-color:gray;
width:403px
}
.mainlike1	/*for the text 'like' for the pic */
{
font-size:11px;
text-decoration:none;
}
.maindislike1	/*for the text 'dislike' for the pic */
{
font-size:11px;
text-decoration:none;
}
.maincomment1
{
font-size:11px;
text-decoration:none;
}
.mainshare1
{
font-size:11px;
text-decoration:none;
position:relative;
left:40px;
top:-90px;
}
.mainlike1no    /*for the no.of likes for the pic */
{
font-size:11px;
text-decoration:none;
position:relative;
top:-90px;
left:10px;
}
.maindislike1no 	/*for the no.of dislikes for the pic */
{
font-size:11px;
text-decoration:none;
position:relative;
left:40px;
top:-90px;
}

.maincomment1no /*for the no.of comment for the pic */
{
font-size:11px;
text-decoration:none;
position:relative;
left:40px;
top:-90px;
}
.showop1
{
width:20px;
display:block;

position:relative;
left:380px;
top:-50px;
}


.mainnnlike1no    /*for the no.of likes for the pic */
{
font-size:11px;
text-decoration:none;
position:relative;
top:-55px;
left:10px;
}
.mainnndislike1no 	/*for the no.of dislikes for the pic */
{
font-size:11px;
text-decoration:none;
position:relative;
top:-55px;
left:40px;

}

.mainnncomment1no /*for the no.of comment for the pic */
{
font-size:11px;
text-decoration:none;
position:relative;
top:-55px;
left:40px;

}
.mainnnshare1
{
font-size:11px;
text-decoration:none;
position:relative;
left:40px;
top:-55px;
}

.shownnop1
{
width:20px;
display:block;

position:relative;
left:380px;
top:-50px;
}


.hideop1
{
width:140px;
border-style:solid;
border-width:3px;
border-color:yellow;
background-color:red;
position:relative;
left:260px;
top:-70px;
display:none;
}
.hideop1:hover
{
background-color:red;
position:relative;
left:260px;
top:-70px;
display:block;
}
.showop1:hover+.hideop1
{
display:block;
}
.options1
{
display:block;
}

.options2
{
display:none;
}
.options1:hover+.otions2
{
display:block;
}

.nontxt1
{
color:white;
text-decoration:none;
}
.nontxt1:hover
{
color:indigo;
text-decoration:none;
}
.dat
{
background-color:lightgray;
font-size:9px;
}
.repinv
{
display:none;
}

.repa1
{
text-decoration:none;
}
.repdiv1
{
display:none;
border-style:solid;
border-top-width:1px;
border-bottom-width:0px;
border-left-width:0px;
border-right-width:0px;
background-color:lightgray;
}
.hiderep
{
display:block;
}
.showrep
{
display:block;
}
.hhid
{
visibility:hidden;
}
.shopco
{
display:block;
}


.comop
{
display:none;
border-style:solid;
border-width:3px;
border-color:yellow;
width:140px;
background-color:red;
}

.shopco:hover+.comop
{
position:absolute;
left:-135px;
display:block;
}
.comop:hover
{
position:absolute;
left:-135px;
display:block;
}

.repimg
{
position:absolute;
left:390px;

}
.repop
{
display:none;
}

.repimg:hover+.repop
{
position:relative;
top:5px;
left:250px;
border-style:solid;
border-width:3px;
border-color:yellow;
background-color:red;
display:block;
width:145px;
height:100x;
}
.repop:hover
{

position:relative;
top:5px;
left:250px;
border-style:solid;
border-width:3px;
border-color:yellow;
background-color:red;
display:block;
width:145px;
height:100x;
}

.repopa
{
text-decoration:none;
color:white;
}
.repotxt
{
text-decoration:none;
color:white;
}
.prof1
{
position:relative;
top:0px;
}
.prof2
{
position:relative;
left:50px;
top:-40px;
}
.profa1
{
position:relative;
top:-10px;
text-decoration:none;
}
.proftit1
{
word-wrap:break-word;

width:330px;
position:relative;
top:-43px;
left:50px;

}
.hstxt
{
position:relative;
top:-20px;
word-wrap:break-word;

}
.toppro
{
border-style:solid;
border-width:1px;
border-color:white;
width:400px;
height:50px;
}
.liidiv
{
position:relative;
top:-25px;
width:40px;
height:20px;
word-wrap:break-word;
}
.disliidiv
{
position:relative;
top:-45px;
left:70px;
width:70px;
height:20px;
word-wrap:break-word;
}
.commdiv
{
position:relative;
top:-65px;
left:140px;
width:70px;

height:20px;
word-wrap:break-word;
}

.sahhdiv
{
position:relative;top:-85px;left:220px;width:70px;height:20px;word-wrap:break-word;
}
.txta1
{
position:relative;top:-90px;
}
.seerep1
{
text-decoration:none;
font-size:13px;
position:relative;
left:200px;
}
.seerep2
{
text-decoration:none;
font-size:13px;
}
.co1s
{
font-size:13px;
color:gray;
position:relative;
left:350px;
}
.defcu
{
cursor:default;
text-decoration:none;
font-size:10px;
color:gray;
}
.aa2
{
display:none;
}
.seecom1
{
position:relative;left:90px;width:100px;
}
.seecoma1
{
text-decoration:none;font-size:11px;
}
.noofde
{
font-size:11px;color:blue;
}
.codes1
{
font-size:11px;
}
.hdivs1
{
position:relative;
top:-80px;
border-style:solid;border-width:1px;border-color:lightgray;width:400px;
}

.hdivs2
{
position:relative;
top:5px;
border-style:solid;border-width:1px;border-color:lightgray;width:400px;
}
.hdivs2nnn
{
position:relative;
top:-45px;
border-style:solid;border-width:1px;border-color:lightgray;width:400px;
}
.mainnntri1   /* all elements starting with tri for showing label with a triangle */
{
position:relative;
font-size:11px;
text-decoration:none;
}
.mainnntri2
{
display:none;
}

.mainnntri1:hover+.mainnntri2  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:115px;
position:relative;
top:-30px;


background-color:indigo;
left:0px;
}
.mainnntri1:hover+.mainnntri2:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}

.mainnntri3   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;

text-decoration:none;
}
.mainnntri4
{
display:none;
}

.mainnntri3:hover+.mainnntri4  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:117px;
position:relative;
top:-30px;
background-color:indigo;
left:0px;
}
.mainnntri3:hover+.mainnntri4:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}

.mainnntri5   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;
text-decoration:none;
position:relative;
top:-20px;
}
.mainnntri6
{
display:none;
}

.mainnntri5:hover+.mainnntri6  /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:95px;
position:relative;
top:0px;
background-color:indigo;
left:1px;
}
.mainnntri5:hover+.mainnntri6:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:10px;
}



.mainnntri7   /* all elements starting with tri for showing label with a triangle */
{
font-size:11px;
text-decoration:none;
}
.mainnntri8
{
display:none;
}

.mainnntri7:hover+.mainnntri8 /*show label for like button hover, + indicates immediate child */
{
color:white;
display:block;
font-size:11px;
width:105px;
position:relative;
top:-30px;
background-color:indigo;
left:100px;
}
.mainnntri7:hover+.mainnntri8:after  /* to create triangle arrow */
{
content: "";
display:block;

width:0px;
height:0px;
border-color:solid lightgray;
border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid indigo;
	
	position:absolute;
	
	top:13px;
	left:100px;
}
.likennn
{
position:relative;top:-10px;width:30px;height:10px;
}
.dislikennn
{
position:relative;top:-40px;left:65px;width:30px;height:10px;
}
.comlikennn
{
position:relative;top:-50px;left:135px;width:30px;height:10px;
}
.shalikennn
{
position:relative;top:-58px;left:220px;width:30px;height:10px;
}
