.msgmaindiv{position:relative;top:100px;}.msgdiv1{display: inline-block;background-color:white;word-wrap:break-word;width:350px;border-style:solid;border-width:1px;border-color:gray;border-right-color:white;border-left-color:white;}.posmsg{position:relative;top:-30px;left:35px;}
