::-webkit-scrollbar { width: 12px; } 
/* Track */ ::-webkit-scrollbar-track {  -webkit-border-radius: 10px; border-radius: 10px; } 
/* Handle */ ::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); } 

.newsmain1
{
}
.newssub1
{
background-color:green;
position:absolute;
top:175px;
left:1285px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
box-shadow:4px 4px 4px gray;
}

.newssub1:hover
{
background-color:indigo;
position:absolute;
top:175px;
left:1285px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
box-shadow:4px 4px 4px gray;
}

.newssub2
{
background-color:orange;
position:absolute;
top:235px;
left:1285px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
box-shadow:4px 4px 4px gray;
}

.newssub2:hover
{
background-color:indigo;
position:absolute;
top:235px;
left:1285px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
}

.newssub3
{
background-color:gray;
position:absolute;
top:300px;
left:1285px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
box-shadow:4px 4px 4px gray;
}

.newssub3:hover
{
background-color:indigo;
position:absolute;
top:300px;
left:1285px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
}



.newssub4
{
background-color:green;
position:absolute;
top:10px;
left:10px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub4:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:10px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:70px;
height:45px;
}

.newssub5
{
background-color:blue;
position:absolute;
top:10px;
left:130px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub5:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:130px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub6
{
background-color:violet;
position:absolute;
top:10px;
left:260px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub6:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:260px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub7
{
background-color:gray;
position:absolute;
top:10px;
left:390px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub7:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:390px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub8
{
background-color:red;
position:absolute;
top:10px;
left:520px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub8:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:520px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub9
{
background-color:orange;
position:absolute;
top:10px;
left:640px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub9:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:640px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub10
{
background-color:orange;
position:absolute;
top:10px;
left:760px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub10:hover
{
background-color:indigo;
position:absolute;
top:10px;
left:760px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub11
{
position:absolute;
top:10px;
left:880px;


border-width:1px;
width:90px;
height:45px;

}

.newssub11:hover
{

position:absolute;
top:10px;
left:880px;


border-width:1px;
width:90px;
height:45px;
}

.newssub14 /*class to be set when user in not signed in and sign out remains display:none  */
{
background-color:red;
position:absolute;
top:10px;
left:1100px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
display:none;

}

.newssub14:hover
{
display:none;
background-color:indigo;
position:absolute;
top:10px;
left:1100px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}

.newssub15 /*class that is to be set when the user sign in and he sees the option to sign out */
{
background-color:red;
position:absolute;
top:10px;
left:1100px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
display:block;

}

.newssub15:hover
{
display:block;
background-color:indigo;
position:absolute;
top:10px;
left:1100px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
}


.newssub12
{

position:absolute;
top:53px;
left:880px;


border-width:1px;
width:90px;
height:45px;
}

.newssub12:hover
{
position:absolute;
top:53px;
left:880px;


border-width:1px;
width:90px;
height:45px;
}
.newssub13
{
background-color:gray;
position:absolute;
top:650px;
left:1260px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
box-shadow:3px 3px 3px gray;
}

.newssub13:hover
{
background-color:indigo;
position:absolute;
top:650px;
left:1260px;
border-style:solid;
border-color:yellow;
border-width:1px;
width:90px;
height:45px;
box-shadow:3px 3px 3px gray;
}

.newswhitef
{
font-size:10px;

}

.newswhitef2
{
position:absolute;
top:15px;
font-size:12px;

}

.newswhitef3
{
position:absolute;
top:7px;
font-size:18px;
color:white;
}

.ahr1
{
text-decoration:none;
}

.frame1
{
border-style:solid;
border-color:white;
position:absolute;
left:8px;
top:107px;
width:430px;
height:550px;

}
.submsg
{
width:300px;
resize:none;
border-style:solid;
border-color:gray;
}
.submsg:hover
{
width:300px;
resize:none;
border-style:solid;
border-color:gray;
box-shadow:0 0 10px blue;
}

.msgtar1 /*class to hide target iframe for messages */
{
border-style:solid;
width:0px;
height:0px;
border-color:red;
}
.chatmsg1 /*class to place messages beside the picture */
{
position:relative;
top:-10px;
left:10px;
}
.sumnews
{


position:absolute;
top:107px;
left:440px;

width:400px;
height:150px;
}
.chatdiv1
{
position:absolute;
left:1040px;
top:400px;

}
.chatinp1
{
position:absolute;
top:10px;
left:-20px;
box-shadow:6px 6px 6px gray;
}
.chattxt1
{
color:white;
position:absolute;
top:-35px;
left:-18px;
background-color:red;
width:330px;
box-shadow:3px 3px 3px gray;
}
.chatimg1
{
position:absolute;
top:-20px;
left:-18px;
width:15px;
height:25px;
}
.dipn
{
visibility:hidden;
}
.proname
{
position:absolute;
left:1200px;
top:10px;
}
.hdcov
{
position:absolute;top:22px;left:120px;border-style:solid;border-color:gray;border-bottom-color:white;border-width:5px;width:95px;height:43px;border-bottom-width:16px;
}
